h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 400;
}

em,
i {
  font-style: normal;
}

a:focus {
  outline: 0;
}

input,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 12px;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input:focus {
  outline: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}

svg {
  display: inline-flex;
}

img {
  max-width: 100%;
  display: inline-block;
}

html,
body,
#app {
  padding: 0 !important;
  margin: 0;
  width: 100%;
  height: 100%;
}
